<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.UserRoleMapper" >
  <resultMap id="BaseResultMap" type="model.UserRole" >
    <id column="user_id" property="userId" jdbcType="BIGINT" />
    <id column="role_id" property="roleId" jdbcType="BIGINT" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="model.UserRole" >
    delete from users_roles
    where user_id = #{userId,jdbcType=BIGINT}
      and role_id = #{roleId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="model.UserRole" >
    insert into users_roles (user_id, role_id)
    values (#{userId,jdbcType=BIGINT}, #{roleId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="model.UserRole" >
    insert into users_roles
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>

  <insert id="insertMany" parameterType="map">
    INSERT INTO users_roles(user_id , role_id)
    values
    <foreach collection="role_ids" item="role_id"  separator=",">
      (
       #{user_id} , #{role_id}
      )
    </foreach>
  </insert>

  <delete id="deleteMany" parameterType="map">
    DELETE FROM users_roles where
    user_id = #{user_id,jdbcType=BIGINT}
    and role_id in
    <foreach item="role_id" collection="role_ids" open="(" separator="," close=")">
      #{role_id}
    </foreach>
  </delete>

  <delete id="deleteManyByUserId" parameterType="long">
    DELETE FROM users_roles where
    user_id = #{userId,jdbcType=BIGINT}
  </delete>

  <delete id="deletManyByRoleId" parameterType="long">
    DELETE FROM users_roles where
    role_id = #{roleId,jdbcType=BIGINT}
  </delete>


</mapper>