<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="shortcut icon" href="../images/logo.png" />
    <link type="text/css" href="../css/bootstrap.min.css" rel="stylesheet" />
    <link type="text/css" href="../css/main.css" rel="stylesheet" />
</head>
<body>
<div class='container'>
    <div class='row header'>
        <div class='col-md-12'>
            <div class='row title'>
                <div class='col-md-6 col-md-push-3'>
                    <h3>中国船舶工业集团安全生产技术研究中心</h3>
                    <p>SAFETY PRODUCTION TECHNOLOGY RESEARCH CENTER,CSSC</p>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-11 col-md-push-1'>
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <a class="navbar-brand" href="#">网站首页</a>
                            </div>
                            <div>
                                <ul class="nav navbar-nav">
                                    <li class="active">
                                        <a href="#">标准管理</a>
                                    </li>
                                    <li>
                                        <a href="#">法律法规管理</a>
                                    </li>
                                    <li>
                                        <a href="#">安全及职业健康知识管理</a>
                                    </li>
                                    <li>
                                        <a href="#">安全工装管理</a>
                                    </li>
                                    <li>
                                        <a href="#">案例分析管理</a>
                                    </li>
                                    <li>
                                        <a href="#">国内外新技术管理</a>
                                    </li>
                                    <li>
                                        <a href="#">联系我们</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="row content ">
        <img src="../images/image2.JPG" width="1000" height="270" />
    </div>
    <div class="row content">
        <div class="col-md-4">
            <h5>标准</h5>
            <ul class="list-group">
                <li class="list-group-item"><a href="xxx">新手使用MetInfo建站步 </a>2012-07-16</li>
                <li class="list-group-item"><a href="xxx">新手使用MetInfo建站步 </a> 2012-07-16</li>
                <li class="list-group-item"><a href="xxx">新手使用MetInfo建站步 </a> 2012-07-16</li>
                <li class="list-group-item"><a href="xxx">新手使用MetInfo建站步 </a> 2012-07-16</li>
                <li class="list-group-item"><a href="xxx">新手使用MetInfo建站步 </a> 2012-07-16</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h5>法律管理</h5>
            <ul class="list-group">
                <li class="list-group-item"><a href="xxx">新手使用MetInfo建站步 </a> 2012-07-16</li>
                <li class="list-group-item"><a href="xxx">新手使用MetInfo建站步 </a> 2012-07-16</li>
                <li class="list-group-item"><a href="xxx">新手使用MetInfo建站步 </a> 2012-07-16</li>
                <li class="list-group-item"><a href="xxx">新手使用MetInfo建站步 </a> 2012-07-16</li>
                <li class="list-group-item"><a href="xxx">新手使用MetInfo建站步 </a> 2012-07-16</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h5>关注我们</h5>
            <ul class="list-group">
                <li class="list-group-item"><a href="xxx">新手使用MetInfo建站步 </a> 2012-07-16</li>
                <li class="list-group-item"><a href="xxx">新手使用MetInfo建站步 </a> 2012-07-16</li>
                <li class="list-group-item"><a href="xxx">新手使用MetInfo建站步 </a> 2012-07-16</li>
                <li class="list-group-item"><a href="xxx">新手使用MetInfo建站步 </a> 2012-07-16</li>
                <li class="list-group-item"><a href="xxx">新手使用MetInfo建站步 </a> 2012-07-16</li>
            </ul>
        </div>
    </div>

    <div class="row content">
        <div class="col-md-4">
            <h5>安全及职业健康知识</h5>
            <ul class="list-group">
                <li class="list-group-item"><a href="xxx">新手使用MetInfo建站步 </a> 2012-07-16</li>
                <li class="list-group-item"><a href="xxx">新手使用MetInfo建站步 </a> 2012-07-16</li>
                <li class="list-group-item"><a href="xxx">新手使用MetInfo建站步 </a> 2012-07-16</li>
                <li class="list-group-item"><a href="xxx">新手使用MetInfo建站步 </a> 2012-07-16</li>
                <li class="list-group-item"><a href="xxx">新手使用MetInfo建站步 </a> 2012-07-16</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h5>安全工装</h5>
            <ul class="list-group">
                <li class="list-group-item"><a href="xxx">新手使用MetInfo建站步 </a> 2012-07-16</li>
                <li class="list-group-item"><a href="xxx">新手使用MetInfo建站步 </a> 2012-07-16</li>
                <li class="list-group-item"><a href="xxx">新手使用MetInfo建站步 </a> 2012-07-16</li>
                <li class="list-group-item"><a href="xxx">新手使用MetInfo建站步 </a> 2012-07-16</li>
                <li class="list-group-item"><a href="xxx">新手使用MetInfo建站步 </a> 2012-07-16</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h5>新闻中心</h5>
            <ul class="list-group">
                <li class="list-group-item"><a href="xxx">新手使用MetInfo建站步 </a> 2012-07-16</li>
                <li class="list-group-item"><a href="xxx">新手使用MetInfo建站步 </a> 2012-07-16</li>
                <li class="list-group-item"><a href="xxx">新手使用MetInfo建站步 </a> 2012-07-16</li>
                <li class="list-group-item"><a href="xxx">新手使用MetInfo建站步 </a> 2012-07-16</li>
                <li class="list-group-item"><a href="xxx">新手使用MetInfo建站步 </a> 2012-07-16</li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>