<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link rel="stylesheet" type="text/css" href="../../asset/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../asset/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/common.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/main.css"/>
</head>
<body>
<div class="container" id="MainView">
</div>
<script type="text/template" id="mainView_template">
    <div class="crumb-wrap">
    </div>
    <div class="TechnologyListView">
        <div class="search-wrap">
            <div class="search-content">
                <table class="search-tab">
                    <tr>
                        <td>
                            <select name="condition" class="required" style="width:150px;height:30px;">
                                <option value="">输入查询条件</option>
                                <option value="category">分类</option>
                                <option value="keywords">关键词</option>
                                <option value="name">名称</option>
                            </select>
                        </td>
                        <td>
                            <input class="common-text required" size="30" value="" type="text">
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary" id="js_query">查询</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="result-wrap">
            <h3 class="controll-title">信息管理</h3>

            <div class="result-title">
                <div class="result-list">
                    <a href="javascript:void(0);" id='js_create' class="btn btn-success"><i
                            class="icon-plus icon-large"></i>添加</a>
                    <a href="#" class="btn btn-danger" id='delete_items'>
                        <i class="icon-trash icon-large"></i>批量删除</a>
                </div>
            </div>
            <div class="result-content">
                <table class="result-tab" width="100%">
                    <thead>
                    <tr>
                        <th class="tc" width="5%"><input id="all_Id" type="checkbox" class="js_choose"></th>
                        <th>ID</th>
                        <th>名称</th>
                        <th>摘要</th>
                        <th>关键词</th>
                        <th>发布人</th>
                        <th>发布日期</th>
                        <th>浏览次数</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody id="RowView">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="TechnologySaveView" style="display: none;">
        <div class="result-wrap">
            <div class="result-content">
                <form id = "validate-data" method="get" action="#">
                    <table class="insert-tab" width="100%" id="TechnologyView">

                    </table>
                </form>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="TechnologyListView-template">
    <td>
        <input name="items" type="checkbox" value="<%=id %>">
    </td>
    <td><%=id %></td>
    <td><a href="javascript:void(0);"><%= name %></a></td>
    <td><%=abstracts %></td>
    <td><%=keywords %></td>
    <td><%=publisher %></td>
    <td><%= this.switchDate(publishDate) %></td>
    <td><%=viewCount %></td>
    <td>
        <a class="link-update js_edit" href="javascript:void(0);">
            <i class="icon-edit icon-large"></i>
        </a>
        <a class="link-del js_delete" href="#">
            <i class="icon-trash icon-large"></i>
        </a>
    </td>
</script>


<script type="text/template" id="TechnologySaveView-template">
    <tr>
        <th width="120">法律法规名称：</th>
        <td>
            <input class="common-text required" name="name" size="50" value="" type="text" required>
            <i class="require-red">*</i>
        </td>
    </tr>
    <tr>
        <th width="120">类别：</th>
        <td>
            <select name="category" class="required" style="width:120px;">
                <option value="">请选择</option>
                <option value="法律">法律</option>
                <option value="法规">法规</option>
                <option value="地方性法规">地方性法规</option>
            </select>
            <i class="require-red">*</i>
        </td>
    </tr>

    <tr>
        <th>法律法规文号：</th>
        <td>
            <input class="common-text required" name="no" size="50" value="" type="text">
            <i class="require-red">*</i>
        </td>
    </tr>

    <tr>
        <th>法律法规内容：</th>
        <td><textarea name="content" class="common-textarea" cols="30" style="width: 99%;"
                      rows="10"></textarea>
            <i class="require-red">*</i>
        </td>
    </tr>

    <tr>
        <th>法律法规发布单位：</th>
        <td>
            <input class="common-text required" name="publishDep" size="50" value="" type="text">
            <i class="require-red">*</i>
        </td>
    </tr>

    <tr>
        <th width="150">法律法规生效日期：</th>
        <td>
            <input class="common-text laydate-icon" name="effectiveDate" size="50" value="" type="text"
                   onclick="laydate()">
            <!--<i class="require-red">*</i>-->
        </td>
    </tr>

    <tr>
        <th>标准预计失效日期：</th>
        <td>
            <input class="common-text  laydate-icon" name="expiredDate" size="50" value="" type="text"
                   onclick="laydate()">
            <!--<i class="require-red">*</i>-->
        </td>
    </tr>

    <tr>
        <th>发布人：</th>
        <td>
            <input class="common-text required" name="publisher" size="50" value="" type="text">
            <i class="require-red">*</i>
        </td>
    </tr>

    <tr>
        <th>发布日期：</th>
        <td>
            <input class="common-text  laydate-icon" name="publishDate" size="50" value="" type="text"
                   onclick="laydate()">
            <!--<i class="require-red">*</i>-->
        </td>
    </tr>

    <tr>
        <th>关键词：</th>
        <td>
            <input class="common-text required" name="keywords" size="50" value="" type="text">
            <i class="require-red">关键词以逗号隔开</i>
        </td>
    </tr>
    <tr>
        <th></th>
        <td>
            <!--<a class="btn btn-primary btn6 mr10 " href="javascript:void(0);" id="js_new">提交</a>-->
            <input class="btn btn-primary btn6 mr10 " type="submit" id="js_new" value="提交">
            <a class="btn btn-info btn6 mr10" href="TechnologyList.html">返回</a>
        </td>
    </tr>
</script>

</body>

<!-- Javascript -->
<script type="text/javascript" src="../../js/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="../../js/jquery.validate.min.js"></script>
<script type="text/javascript" src="../../js/messages_zh.js"></script>
<script type="text/javascript" src="../../js/moment.js"></script>
<script type="text/javascript" src="../calender/laydate.js"></script>
<script type="text/javascript" src="../../js/jquery.json.js"></script>
<script type="text/javascript" src="../../js/Underscore.js"></script>
<script type="text/javascript" src="../../js/Backbone.js"></script>
<script type="text/javascript" src="../../js/backbone.layoutmanager.js"></script>
<script type="text/javascript" src="../../entities/entities.js"></script>
<script type="text/javascript" src="../../handle/Technology/Technology.js"></script>
</html>
<script type="text/javascript">
    (function (Backbone, _) {
        var TechnologyCollection = new Entities.Technology.Collection();
        var TechnologyModel = new Entities.Technology.Model();
        var EventBus = _.extend({}, Backbone.Events);
        var Msgs = {
            TechnologyListView: "editTechnology",
            MainView: {DeleteItems:"mainView-deleteItems"}
        };
        Backbone.Layout.configure({
            manage: true
        });
        var TechnologyListView = Backbone.View.extend({
            template: '#TechnologyListView-template',
            tagName: 'tr',
            initialize: function () {
                this.listenTo(this.model, 'change', this.render);
                this.listenTo(this.model, 'destroy', this.remove);
//                this.listenTo(TechnologyCollection, 'remove', this.remove);
            },
            events: {
                'click .js_edit': '_onEditTechnology',
                'click .js_delete': '_onDeleteTechnology'
            },
            switchDate: function (data) {
                var date = moment(data).format('YYYY-MM-DD');
                return date;
            },
            _onEditTechnology: function () {
                var data = this.model.toJSON();
                $('.TechnologyListView').hide();
                $('.TechnologySaveView').show();
                EventBus.trigger(Msgs.TechnologyListView, data);
            },
            _onDeleteTechnology: function () {
                this.model.delete();
            }
        });
        var TechnologySaveView = Backbone.View.extend({
            template: '#TechnologySaveView-template',
            tagName: 'tbody',
            initialize: function () {
                this.listenTo(this.model, 'change', this.render);
                this.listenTo(EventBus, Msgs.TechnologyListView, this._onEditTechnology);
            },
            events: {
                "click #js_new": '_onValidator'
            },
            switchDate: function (data) {
                var date = moment(data).format('YYYY-MM-DD');
                return date;
            },
            parseTime: function (a, b, c) {
                $('input[name="publishDate"]').val(a);
                $('input[name="effectiveDate"]').val(b);
                $('input[name="expiredDate"]').val(c);
            },
            /*向表单填充数据*/
            _onEditTechnology: function (data) {
                this.model_id = data.id;
                var obj = data;
                var time = [];
                var key, value, tagName, type, arr;
                for (x in obj) {
                    key = x;
                    value = obj[x];
                    $("[name='" + key + "'],[name='" + key + "[]']").each(function () {
                        tagName = $(this)[0].tagName;
                        type = $(this).attr('type');
                        if (tagName == 'INPUT') {
                            if (type == 'radio') {
                                $(this).attr('checked', $(this).val() == value);
                            } else if (type == 'checkbox') {
                                arr = value.split(',');
                                for (var i = 0; i < arr.length; i++) {
                                    if ($(this).val() == arr[i]) {
                                        $(this).attr('checked', true);
                                        break;
                                    }
                                }
                            } else {
                                $(this).val(value);
                            }
                        } else if (tagName == 'SELECT' || tagName == 'TEXTAREA') {
                            $(this).val(value);
                        }
                    });
                }
                var publishDate = this.switchDate(parseInt($('input[name="publishDate"]').val()));
                var effectiveDate = this.switchDate(parseInt($('input[name="effectiveDate"]').val()));
                var expiredDate = this.switchDate(parseInt($('input[name="expiredDate"]').val()));
                this.parseTime(publishDate, effectiveDate, expiredDate);
            },
            /*验证表单*/
            _onValidator:function(){
                var parent=this;
                $('#validate-data').validate({
                    rules:{
                        name:'required'
                    },
                    messages:{
                        name:'请输入法律法规'
                    },
                    submitHandler:function() {
                        parent._onSubmit();
                    }
                });
            },
            /*验证通过提交表单*/
            _onSubmit: function(){
                var jsonData = $('form').serializeArray();
                console.log(jsonData);
                var data = this._toJSON(jsonData);
                if (this.model_id) {
                    var flag = TechnologyModel.edit(_.extend(data, {id: this.model_id}));
                    if (flag) {
                        window.location.href = "http://localhost:8080/static/admin/page/Technology/TechnologyList.html";
                    }
                }
                else {
                    var flag = TechnologyCollection.create(data);
                    if (flag) {
                        window.location.href = "http://localhost:8080/static/admin/page/Technology/TechnologyList.html";
                    }
                }
            },
            _toJSON: function (data) {
                var data_json = {};
                _.each(data, function (obj) {
                    var name = obj.name;
                    var value = obj.value;
                    data_json[name] = value;
                });
                return data_json;
            }
        });
        var MainView = Backbone.View.extend({
            template: '#mainView_template',
            initialize: function () {
                this._onCreate();
                this.listenTo(TechnologyCollection, 'reset', this.addAll);
                var TechnologySaveView = new TechnologySaveView({model: TechnologyModel});
                this.insertView('#TechnologyView', TechnologySaveView).render();
            },
            _onCreate: function () {
                var $info = $("#ifra", parent.document);
                var base = $info.attr('data_parent');
                this.type = $info.attr('data_category');
                TechnologyCollection.fetch({category: this.type});
                this.$('.crumb-wrap').append('基础数据管理' + ">>" + base + ">>" + this.type);
            },
            events: {
                "click #js_query": '_onShowTechnologyList',
                "click #js_create": '_onCreateTechnology',
                "click .js_choose": '_onChooseItems',
                "click #delete_items": '_onDeleteItems'
            },
            _onShowTechnologyList: function () {
                console.log("_onShowTechnologyList");
                var key = $('select').val();
                var value = $("input").val();
                var data = {};
                if (key && value) {
                    data[key] = value;
                    this.render();
                    TechnologyCollection.fetch(data);
                }
            },
            _onChooseItems: function () {
                if (this.$('#all_Id').attr("checked")) {
                    $("input[name=items]").each(function () {
                        $(this).attr("checked", true);
                    });
                }
                else {
                    $("input[name=items]").each(function () {
                        $(this).attr("checked", false);
                    });
                }
            },
            _onDeleteItems: function () {
                var ids=[];
                this.$("input[name=items]").each(function(index) {
                    if ($(this).attr("checked")) {
                        ids[index]=+$(this).val();
                    }
                });
                var result =  _.filter(TechnologyCollection.toJSON(), function(obj){
                    return  _.contains(ids, obj.id);
                });
                _.each(result,function(obj){
                    TechnologyCollection.get(obj.id).delete();
                });
            },
            _onCreateTechnology: function () {
                this.$('.TechnologyListView').hide();
                this.$('.TechnologySaveView').show();
            },
            addOne: function (TechnologyModel) {
                var TechnologyListView = new TechnologyListView({model: TechnologyModel});
                this.insertView('#RowView', TechnologyListView).render();
            },
            addAll: function () {
                TechnologyCollection.each(this.addOne, this);
            }
        });
        new MainView({el: '#MainView'}).render();
    })(Backbone, _);
</script>

