<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link rel="stylesheet" type="text/css" href="../../asset/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../asset/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/common.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/main.css"/>
</head>
<body>
<div class="container" id="MainView">
</div>
<script type="text/template" id="mainView_template">
    <div class="crumb-wrap">
    </div>
    <div class="HealthListView">
        <div class="search-wrap">
            <div class="search-content">
                <table class="search-tab">
                    <tr>
                        <td>
                            <select name="condition" class="required" style="width:150px;height:30px;">
                                <option value="">输入查询条件</option>
                                <option value="category">分类</option>
                                <option value="keywords">关键词</option>
                                <option value="name">名称</option>
                            </select>
                        </td>
                        <td>
                            <input class="common-text required" size="30" value="" type="text">
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary" id="js_query">查询</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="result-wrap">
            <h3 class="controll-title">信息管理</h3>

            <div class="result-title">
                <div class="result-list">
                    <a href="javascript:void(0);" id='js_create' class="btn btn-success"><i
                            class="icon-plus icon-large"></i>添加</a>
                    <a href="#" class="btn btn-danger" id='delete_items'>
                        <i class="icon-trash icon-large"></i>批量删除</a>
                </div>
            </div>
            <div class="result-content">
                <table class="result-tab" width="100%">
                    <thead>
                    <tr>
                        <th class="tc" width="5%"><input id="all_Id" type="checkbox" class="js_choose"></th>
                        <th>ID</th>
                        <th>名称</th>
                        <th>摘要</th>
                        <th>关键词</th>
                        <th>发布人</th>
                        <th>发布日期</th>
                        <th>浏览次数</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody id="RowView">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="HealthSaveView" style="display: none;">
        <div class="result-wrap">
            <div class="result-content">
                <form id = "validate-data" method="get" action="#">
                    <table class="insert-tab" width="100%" id="HealthView">

                    </table>
                </form>
            </div>
        </div>
    </div>
</script>
<script type="text/template" id="crumbView-template">
</script>

<script type="text/template" id="HealthListView-template">
    <td>
        <input name="items" type="checkbox" value="<%=id %>">
    </td>
    <td><%=id %></td>
    <td><a href="javascript:void(0);"><%= name %></a></td>
    <td><%=abstracts %></td>
    <td><%=keywords %></td>
    <td><%=publisher %></td>
    <td><%= this.switchDate(publishDate) %></td>
    <td><%=viewCount %></td>
    <td>
        <a class="link-update js_edit" href="javascript:void(0);">
            <i class="icon-edit icon-large"></i>
        </a>
        <a class="link-del js_delete" href="#">
            <i class="icon-trash icon-large"></i>
        </a>
    </td>
</script>


<script type="text/template" id="HealthSaveView-template">
    <tr>
        <th width="120">名称：</th>
        <td>
            <input class="common-text required" name="name" size="50" value="" type="text" required>
            <i class="require-red">*</i>
        </td>
    </tr>
    <tr>
        <th width="120">类别：</th>
        <td>
            <select name="category" class="required" style="width:120px;">
                <option value="">请选择</option>
                <option value="作业健康知识">作业健康知识</option>
                <option value="职业健康知识">职业健康知识</option>

            </select>
            <i class="require-red">*</i>
        </td>
    </tr>


    <tr>
        <th>内容：</th>
        <td><textarea name="content" class="common-textarea "  cols="30" style="width: 99%;" rows="10" ></textarea>
            <i class="require-red">*</i>
        </td>
    </tr>

    <tr>
        <th>附件上传：</th>
        <td><input class="common-text required"  name="file" size="50" value="" type="file">
            <i class="require-red">*</i>
        </td>
    </tr>

    <tr>
        <th>发布人：</th>
        <td>
            <input class="common-text required"  name="publisher" size="50" value="" type="text">
            <i class="require-red">*</i>
        </td>
    </tr>

    <tr>
        <th>发布日期：</th>
        <td>
            <input class="common-text laydate-icon"  name="publishDate" size="50" value="" type="text"  onclick="laydate()">
            <i class="require-red">*</i>
        </td>
    </tr>

    <tr>
        <th>关键词：</th>
        <td>
            <input class="common-text required"  name="keywords" size="50" value="" type="text">
            <i class="require-red">关键词以逗号隔开</i>
        </td>
    </tr>
    <tr>
        <th></th>
        <td>
            <input class="btn btn-primary btn6 mr10 " type="submit" id="js_new" value="提交">
            <a class="btn btn-info btn6 mr10" href="healthList.html">返回</a>
        </td>
    </tr>
</script>

</body>

<!-- Javascript -->
<script type="text/javascript" src="../../js/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="../../js/jquery.validate.min.js"></script>
<script type="text/javascript" src="../../js/messages_zh.js"></script>
<script type="text/javascript" src="../../js/moment.js"></script>
<script type="text/javascript" src="../calender/laydate.js"></script>
<script type="text/javascript" src="../../js/jquery.json.js"></script>
<script type="text/javascript" src="../../js/Underscore.js"></script>
<script type="text/javascript" src="../../js/Backbone.js"></script>
<script type="text/javascript" src="../../js/backbone.layoutmanager.js"></script>
<script type="text/javascript" src="../../entities/entities.js"></script>
<script type="text/javascript" src="../../handle/health/health.js"></script>
</html>
<script type="text/javascript">
    (function (Backbone, _) {
        var HealthCollection = new Entities.Health.Collection();
        var HealthModel = new Entities.Health.Model();
        var EventBus = _.extend({}, Backbone.Events);
        var Msgs = {
            HealthListView: "editHealth",
            MainView: {DeleteItems:"mainView-deleteItems"}
        };
        Backbone.Layout.configure({
            manage: true
        });

        var CrumbView = Backbone.View.extend({
            template:'#crumbView-template',
            tagName:'span',
            afterRender:function(){
                var _html='基础数据管理'+'>>'+this.model.base+'>>'+this.model.type;
                this.$el.html(_html);
            }
        });

        var HealthListView = Backbone.View.extend({
            template: '#HealthListView-template',
            tagName: 'tr',
            initialize: function () {
                this.listenTo(this.model, 'change', this.render);
                this.listenTo(this.model, 'destroy', this.remove);
            },
            events: {
                'click .js_edit': '_onEditHealth',
                'click .js_delete': '_onDeleteHealth'
            },
            switchDate: function (data) {
                var date = moment(data).format('YYYY-MM-DD');
                return date;
            },
            _onEditHealth: function () {
                var data = this.model.toJSON();
                $('.HealthListView').hide();
                $('.HealthSaveView').show();
                EventBus.trigger(Msgs.HealthListView, data);
            },
            _onDeleteHealth: function () {
                this.model.delete();
            }
        });
        var HealthSaveView = Backbone.View.extend({
            template: '#HealthSaveView-template',
            tagName: 'tbody',
            initialize: function () {
                this.listenTo(this.model, 'change', this.render);
                this.listenTo(EventBus, Msgs.HealthListView, this._onEditHealth);
            },
            events: {
                "click #js_new": '_onValidator'
            },
            switchDate: function (data) {
                var date = moment(data).format('YYYY-MM-DD');
                return date;
            },
            parseTime: function (a) {
                $('input[name="publishDate"]').val(a);
            },
            /*向表单填充数据*/
            _onEditHealth: function (data) {
                this.model_id = data.id;
                var obj = data;
                var time = [];
                var key, value, tagName, type, arr;
                for (x in obj) {
                    key = x;
                    value = obj[x];
                    $("[name='" + key + "'],[name='" + key + "[]']").each(function () {
                        tagName = $(this)[0].tagName;
                        type = $(this).attr('type');
                        if (tagName == 'INPUT') {
                            if (type == 'radio') {
                                $(this).attr('checked', $(this).val() == value);
                            } else if (type == 'checkbox') {
                                arr = value.split(',');
                                for (var i = 0; i < arr.length; i++) {
                                    if ($(this).val() == arr[i]) {
                                        $(this).attr('checked', true);
                                        break;
                                    }
                                }
                            } else {
                                $(this).val(value);
                            }
                        } else if (tagName == 'SELECT' || tagName == 'TEXTAREA') {
                            $(this).val(value);
                        }
                    });
                }
                var publishDate = this.switchDate(parseInt($('input[name="publishDate"]').val()));

                this.parseTime(publishDate);
            },
            /*验证表单*/
            _onValidator:function(){
                var parent=this;
                $('#validate-data').validate({
                    rules:{
                        name:'required'
                    },
                    messages:{
                        name:'请输入名称'
                    },
                    submitHandler:function() {
                        parent._onSubmit();
                    }
                });
            },
            /*验证通过提交表单*/
            _onSubmit: function(){
                var jsonData = $('form').serializeArray();
                console.log(jsonData);
                var data = this._toJSON(jsonData);
                if (this.model_id) {
                    var flag = HealthModel.edit(_.extend(data, {id: this.model_id}));
                    if (flag) {
                        window.location.href = "http://115.159.114.88/static/admin/page/health/healthList.html";
                    }
                }
                else {
                    var flag = HealthCollection.create(data);
                    if (flag) {
                        window.location.href = "http://115.159.114.88/static/admin/page/health/healthList.html";
                    }
                }
            },
            _toJSON: function (data) {
                var data_json = {};
                _.each(data, function (obj) {
                    var name = obj.name;
                    var value = obj.value;
                    data_json[name] = value;
                });
                return data_json;
            }
        });
        var MainView = Backbone.View.extend({
            template: '#mainView_template',
            initialize: function () {
                var $info = $("#ifra", parent.document);
                var base = $info.attr('data_parent');
                var type = $info.attr('data_category');
                this.listenTo(HealthCollection, 'reset', this.addAll);
                var crumbView = new CrumbView({model:{base:base,type:type}});
                this.insertView('.crumb-wrap', crumbView).render();
                var healthSaveView = new HealthSaveView({model: HealthModel});
                this.insertView('#HealthView', healthSaveView).render();
                this._onCreate();
            },
            _onCreate: function () {
                var $info = $("#ifra", parent.document);
                var base = $info.attr('data_parent');
                this.type = $info.attr('data_category');
                HealthCollection.fetch({category: this.type});
                this.$('.crumb-wrap').append('基础数据管理' + ">>" + base + ">>" + this.type);
            },
            events: {
                "click #js_query": '_onShowHealthList',
                "click #js_create": '_onCreateHealth',
                "click .js_choose": '_onChooseItems',
                "click #delete_items": '_onDeleteItems'
            },
            _onShowHealthList: function () {
                console.log("_onShowHealthList");
                var key = $('select').val();
                var value = $("input").val();
                var data = {};
                if (key && value) {
                    data[key] = value;
                    this.render();
                    HealthCollection.fetch(data);
                }
            },
            _onChooseItems: function () {
                if (this.$('#all_Id').attr("checked")) {
                    $("input[name=items]").each(function () {
                        $(this).attr("checked", true);
                    });
                }
                else {
                    $("input[name=items]").each(function () {
                        $(this).attr("checked", false);
                    });
                }
            },
            _onDeleteItems: function () {
                var ids=[];
                this.$("input[name=items]").each(function(index) {
                    if ($(this).attr("checked")) {
                        ids[index]=+$(this).val();
                    }
                });
                var result =  _.filter(HealthCollection.toJSON(), function(obj){
                    return  _.contains(ids, obj.id);
                });
                _.each(result,function(obj){
                    HealthCollection.get(obj.id).delete();
                });
            },
            _onCreateHealth: function () {
                this.$('.HealthListView').hide();
                this.$('.HealthSaveView').show();
            },
            addOne: function (HealthModel) {
                var healthListView = new HealthListView({model: HealthModel});
                this.insertView('#RowView', healthListView).render();
            },
            addAll: function () {
                HealthCollection.each(this.addOne, this);
            }
        });
        new MainView({el: '#MainView'}).render();
    })(Backbone, _);
</script>

