<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>首页</title>
	<link rel="shortcut icon" href="../images/logo.png" />
	<link type="text/css" href="../css/bootstrap.min.css" rel="stylesheet" />
	<link type="text/css" href="../css/main.css" rel="stylesheet" />
	<!--<link href="../css/bootstrap.css" rel="stylesheet">
	<link href="../css/bootstrap-responsive.css" rel="stylesheet">-->
</head>

<body>
<div class="header" >
	<div class="container">
		<div class='row'>
			<div class='col-md-12'>
				<div class='row title'  >

					<div class='col-md-10 ' style="background:url(../images/logo.png) no-repeat;margin-top:20px;margin-bottom:20px;">
						<h3 class="hd-title" style="margin-left:138px;font-size:34px;font-family:'新宋体';font-weight:bold;color: #ffffff">中国船舶工业集团安全生产技术研究中心</h3>
						<p class="eg-title" style=" margin-left:138px;font-size:20px;font-family:Arial;color:#FFFFFF;">SAFETY PRODUCTION TECHNOLOGY RESEARCH CENTER,CSSC</p>
					</div>

				</div>
				<div class='row' >
					<div class='col-md-12'>
						<nav class="navbar navbar-default" role="navigation" style="font-size:16px;padding-left:26px;font-weight:bold;">
							<div class="container-fluid">
								<div class="navbar-header">
									<a class="navbar-brand" href="./index.html">网站首页</a>
								</div>
								<div>
									<ul class="nav navbar-nav">
										<li >
											<a href="./standard.html">标准管理</a>
										</li>
										<li>
											<a href="./law.html">法律法规管理</a>
										</li>
										<li>
											<a href="./health.html">安全及职业健康知识管理</a>
										</li>
										<li>
											<a href="./frock.html">安全工装管理</a>
										</li>
										<li>
											<a href="./accident.html">案例分析管理</a>
										</li>
										<li>
											<a href="./technique.html">国内外新技术管理</a>
										</li>
										<li>
											<a href="#">联系我们</a>
										</li>
									</ul>
								</div>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container" id="MainView"></div>
<script type="text/template" id="MainView-template">
	<div class="row content" style="margin-left: 2px;margin-top:0px;width:1140px;">

		<div id="carouselcontainter" class="carousel" data-ride="carousel" style="width:1140px; height:270px;">
			<ol class="carousel-indicators">
				<li class="active" data-target="#carouselcontainter" data-slide-to="0">

				</li>
				<li  data-target="#carouselcontainter" data-slide-to="1">

				</li>
				<li  data-target="#carouselcontainter" data-slide-to="2">

				</li>
				<li  data-target="#carouselcontainter" data-slide-to="3">

				</li>
			</ol>
			<div class="carousel-inner" style="width:100%;height:270px; ">
				<div class="item active">
					<a href="##"><img src=" ../images/image3.jpg" alt="图片"width=“1140”;height=“270” style="background:repeat-y:100px;"></a>
					<div class="carousel-caption">
						<h3>某某某某某某某某某某</h3>
						<p>somethingsomethingsomething</p>
					</div>
				</div>
				<div class="item">
					<a href="##"><img src="../images/image2.JPG"  alt="图片" width="1140" height="270" ></a>
				</div>
				<div class="item">
					<a href="##"><img src="../images/image3.jpg"  alt="图片" width="1140" height="270" ></a>
				</div>
				<div class="item">
					<a href="##"><img src="../images/image4.png"  alt="图片" width="1140" height="270" ></a>
				</div>

				<a class="left carousel-control" href="#carouselcontainter" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</a>
				<a class="right carousel-control" href="#carouselcontainter" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right"></span>
				</a>
			</div>
		</div>
	</div>


	<div class="row content" style="margin-top: 0px;width:1140px;margin-left:2px;">

		<div class="row" style="margin-left:2px;width:1140px;">

		<div class="col-md-8" style="padding-left:0px;padding-right:0px;">
		  <div class="row" style="margin-left: 0px;margin-right: 0px;">
		  <div class="col-md-6" style="padding-left:0px;margin-top: 0px;padding-right: 0px;">
			  <h5 style="height:44px;margin-top: 0px;margin-bottom: 0px;">
				  <span class="list-group-item active"style="font-family: 宋体;font-size: 16px;color: #fbfbfb;float:left;">标&nbsp&nbsp&nbsp准</span>
				  <a href="./standard.html" class="more" title="链接关键词" style="float:right;font-family:Arial;font-weight:bold;margin-top: 12px;">more>></a>
			  </h5>

			  <div id="standListView"  ></div>

		  </div>

		  <div class="col-md-6" style=" margin-left:0px;margin-right:0px;padding-left: 0px;padding-right: 0px;" >
			  <h5 style="height:44px;margin-top: 0px;margin-bottom: 0px;">
						<span class="list-group-item active"style="font-family: 宋体;font-size: 16px;color: #fbfbfb;float:left;">
							法律法规</span>
				  <a href="./law.html" class="more" title="链接关键词" style="float:right;font-family:Arial;font-weight:bold;margin-top: 12px;">more>></a>
			  </h5>

			  <div id="lawListView" ></div>
		  </div>
	  </div>


			<div class="row" style="margin-left: 0px;margin-right: 0px;">
			<div class="col-md-6" style="padding-left:0px;padding-right:0px;margin-top: 0px; ">

				<h5 style="height:44px;margin-top: 0px;margin-bottom: 0px;">
					<span class="list-group-item active"style="font-family: 宋体;font-size: 16px;color: #fbfbfb;float:left;">安全及职业健康知识</span>
					<a href="./health.html" class="more" title="链接关键词" style="float:right;font-family:Arial;font-weight:bold;margin-top: 12px;">more>></a>
				</h5>

				<div id="healthListView"></div>
			</div>
			<div class="col-md-6" style="padding-left: 0px;padding-right: 0px;">
				<h5 style="height:44px;margin-top: 0px;margin-bottom: 0px;">
					<span class="list-group-item active"style="font-family: 宋体;font-size: 16px;color: #fbfbfb;float:left;">安全工装</span>
					<a href="./frock.html" class="more" title="链接关键词" style="float:right;font-family:Arial;font-weight:bold;margin-top: 12px;">more>></a>
				</h5>

				<div id="frockListView"></div>
			</div>
			</div>
			<div class="row" style="margin-left: 0px;margin-right: 0px;">
				<div class="col-md-6" style=" padding-left: 0px;padding-right: 0px;">
					<h5 style="height:44px;margin-top: 0px;margin-bottom: 0px;">
						<span class="list-group-item active"style="font-family: 宋体;font-size: 16px;color: #fbfbfb;float:left;">国内外新技术</span>
						<a href="./technique.html" class="more" title="链接关键词" style="float:right;font-family:Arial;font-weight:bold;margin-top: 12px;">more>></a>
					</h5>

					<div id="techniqueListView"></div>
				</div>

				<div class="col-md-6" style=" padding-left: 0px;padding-right: 0px;">
					<h5 style="height:44px;margin-top: 0px;margin-bottom: 0px;">
						<span class="list-group-item active"style="font-family: 宋体;font-size: 16px;color: #fbfbfb;float:left;">案例分析</span>
						<a href="./accident.html" class="more" title="链接关键词" style="float:right;font-family:Arial;font-weight:bold;margin-top: 12px;">more>></a>
					</h5>

					<div id="accidentListView"></div>
				</div>
			</div>

		</div>

			<div class="col-md-4" style="padding-left:0px;padding-right:0px;">

		<div class="col-md-12" style=" padding-left: 0px;padding-right: 0px;">
			<h5 style="height:44px;margin-top: 0px;margin-bottom: 0px;">
						<span class="list-group-item active"style="font-family: 宋体;font-size: 16px;color: #fbfbfb;float:left;">
							新闻中心</span>
				<a href="" class="more" title="链接关键词" style="float:right;font-family:Arial;font-weight:bold;margin-top: 12px;">more>></a>
			</h5>

			<div id="newListView"></div>

		</div>

				<div class="col-md-12" style="padding-left: 0px;padding-right: 0px;">
					<h5 class="title"style="margin-top: 0px;margin-bottom: 0px;">
						<span class="list-group-item active" style="font-family: 宋体;font-size: 18px;color: #fbfbfb;padding-left:14px;">关注我们</span>
					</h5>
					<div class="active dl-jqrun contour-1" style="background: #fbfbfb">
						<div class="wei-code"><img src="../images/mm.png" style="margin-left:92px;margin-top: 36px;"></div>
						<p style="margin-bottom: 0; margin-left:66px;margin-top:18px; font-family: 宋体;font-size:20px;" class="l-15 t-5 fc999">扫描微信，随时获得最新资讯</p>

					</div>

				</div>
			</div>
		</div>
	</div>

</script>
<!--标准管理视图-->
<script type="text/template" id="standardView-template">
	<div class="row">
		<div class="col-xs-6">
			<a href="标准管理" clas="active">
				<%= name %>
			</a>
		</div>
		<div class="col-xs-4 col-xs-offset-2">
			<span class="text-right"><%= this.Timer(publishDate) %></span>
		</div>
	</div>

</script>

<script type="text/template" id="standListView-template">

</script>
<!--法律法规视图-->
<script type="text/template" id="lawListView-template">

		</script>

<script type="text/template" id="lawView-template">
	<div class="row">
		<div class="col-xs-6">
			<a href="法律法规" clas="active">
				<%= name %>
			</a>
		</div>
		<div class="col-xs-4 col-xs-offset-2">
			<span><%= this.Timer(publishDate) %></span>
		</div>
	</div>

</script>

<!--安全职业健康视图-->
<script type="text/template" id="healthListView-template">
		</script>

<script type="text/template" id="healthView-template">
	<div class="row">
		<div class="col-xs-6">
			<a href="安全职业健康">
				<%= name %>
			</a>
		</div>
		<div class="col-xs-4 col-xs-offset-2">
			<span><%= this.Timer(publishDate) %></span>
		</div>
	</div>

</script>
<!--安全工装视图-->
<script type="text/template" id="frockListView-template">

		</script>

<script type="text/template" id="frockView-template">
	<div class="row">
		<div class="col-xs-6">
			<a href="安全工装">
				<%= name %>
			</a>
		</div>
		<div class="col-xs-4 col-xs-offset-2">
			<span><%= this.Timer(publishDate) %></span>
		</div>
	</div>

</script>

<!--新闻中心视图-->
<script type="text/template" id="newListView-template">
	<ul class="list-group">

	</ul>
</script>

<script type="text/template" id="newView-template">
	<li class="list-group-item">
		<a href="新闻中心">
			<%= title %>
		</a>
		<span><%= publishDate %></span>
	</li>
</script>
<!--国内外新技术视图-->
<script type="text/template" id="techniqueListView-template">

</script>

<script type="text/template" id="techniqueView-template">
	<div class="row">
		<div class="col-xs-6">
			<a href="安全工装">
				<%= name %>
			</a>
		</div>
		<div class="col-xs-4 col-xs-offset-2">
			<span><%= this.Timer(publishDate) %></span>
		</div>
	</div>

</script>

<!--案例分析视图-->
<script type="text/template" id="accidentListView-template">

</script>

<script type="text/template" id="accidentView-template">
	<div class="row">
		<div class="col-xs-6">
			<a href="案例分析">
				<%= name %>
			</a>
		</div>
		<div class="col-xs-4 col-xs-offset-2">
			<span><%= this.Timer(publishDate) %></span>
		</div>
	</div>

</script>

</body>
<script src="../js/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="../js/moment.js" type="text/javascript"></script>
<script src="../js/jquery.json.js" type="text/javascript"></script>
<script src="../js/Underscore.js" type="text/javascript"></script>
<script src="../js/Backbone.js" type="text/javascript"></script>
<script src="../js/backbone.layoutmanager.js" type="text/javascript"></script>
<script src="../js/moment.js" type="text/javascript"></script>
<script type="text/javascript" src="../entities/entities.js"></script>
<script type="text/javascript" src="../handle/standard/standard.js"></script>
<script type="text/javascript" src="../handle/health/health.js"></script>
<script type="text/javascript" src="../handle/accident/accident.js"></script>
<script type="text/javascript" src="../handle/frock/frock.js"></script>
<script type="text/javascript" src="../handle/law/law.js"></script>
<script type="text/javascript" src="../handle/technique/technique.js"></script>
<script type="text/javascript"  src="../js/bootstrap-carousel.js"></script>
<script type="text/javascript"  src="../js/bootstrap-carousel.js"></script>
<script type="text/javascript"  src="../js/bootstrap-button.js"></script>

<script>
	!function ($) {
		$(function(){

			$('#carouselcontainter').carousel()
		})
	}(window.jQuery)
</script>

<!--<script type="text/javascript" src="../handle/new/new.js"></script>-->
<script type="text/javascript">
	(function(Backbone, _) {
		var EventBus = _.extend({}, Backbone.Events);
		var StandardCollection = Entities.Standard.Collection;
		var FrockCollection = Entities.Frock.Collection;
		var HealthCollection = Entities.Health.Collection;
		var LawCollection = Entities.Law.Collection;
		var AccidentCollection= Entities.Accident.Collection;
		//var NewCollection =  Entities.New.Collection();
		var TechniqueCollection = Entities.Technique.Collection;
		Backbone.Layout.configure({
			manage: true
		});
		//标准管理视图
		var StandView = Backbone.View.extend({
			template: '#standardView-template',
			tagName: 'li',
			className: 'list-group-item',
			Timer: function(time) {
				return moment(time).format('YYYY-MM-DD');
			}
		});
		//标准管理列表视图
		var StandListView = Backbone.View.extend({
			template: '#standListView-template',
			tagName: 'ul',
			className: 'list-group',
			initialize: function() {
				this.listenTo(this.collection, 'reset', this.addAll);
			},
			addOne: function(StandardModel) {
				var standView = new StandView({
					model: StandardModel
				});
				this.insertView('', standView).render();
			},
			addAll: function() {
				this.collection.each(this.addOne, this);
			},
			afterRender: function() {
				this.collection.fetch();
			}
		});
		//法律法规视图
		var LawView = Backbone.View.extend({
			template: '#lawView-template',
			tagName: 'li',
			className: 'list-group-item',
			Timer: function(time) {
				return moment(time).format('YYYY-MM-DD');
			}
		});
		//法律法规列表视图
		var LawListView = Backbone.View.extend({
			template: '#lawListView-template',
			tagName: 'ul',
			className: 'list-group',
			initialize: function() {
				console.log('sdflSJFLsj');
				this.listenTo(this.collection, 'reset', this.addAll);
			},
			addOne: function(LawModel) {
				var lawView = new LawView({
					model: LawModel
				});
				this.insertView('', lawView).render();
			},
			addAll: function() {
				this.collection.each(this.addOne, this);
			},
			afterRender: function() {
				this.collection.fetch();
			}
		});
		//安全职业健康视图
		var HealthView = Backbone.View.extend({
			template: '#healthView-template',
			tagName: 'li',
			className: 'list-group-item',
			Timer: function(time) {
				return moment(time).format('YYYY-MM-DD');
			}
		});
		//安全职业健康列表视图
		var HealthListView = Backbone.View.extend({
			template: '#healthListView-template',
			tagName: 'ul',
			className: 'list-group',
			initialize: function() {
				this.listenTo(this.collection, 'reset', this.addAll);
			},
			addOne: function(HealthModel) {
				var healthView = new HealthView({
					model: HealthModel
				});
				this.insertView('', healthView).render();
			},
			addAll: function() {
				this.collection.each(this.addOne, this);
			},
			afterRender: function() {
				this.collection.fetch();
			}
		});
		//安全工装视图
		var FrockView = Backbone.View.extend({
			template: '#frockView-template',
			tagName: 'li',
			className: 'list-group-item',
			Timer: function(time) {
				return moment(time).format('YYYY-MM-DD');
			}
		});
		//安全工装列表视图
		var FrockListView = Backbone.View.extend({
			template: '#frockListView-template',
			tagName: 'ul',
			className: 'list-group',
			initialize: function() {
				this.listenTo(this.collection, 'reset', this.addAll);
			},
			addOne: function(FrockModel) {
				var frockView = new FrockView({
					model: FrockModel
				});
				this.insertView('', frockView).render();
			},
			addAll: function() {
				this.collection.each(this.addOne, this);
			},
			afterRender: function() {
				this.collection.fetch();
			}
		});
		//新闻视图
		var NewView = Backbone.View.extend({
			template: '#NewView-template',
			tagName: 'li',
			className: 'list-group-item',
			Timer: function(time) {
				return moment(time).format('YYYY-MM-DD');
			}
		});
		//新闻列表视图
		var NewListView = Backbone.View.extend({
			template: '#newListView-template',
			tagName: 'ul',
			className: 'list-group',
			initialize: function() {
				this.listenTo(this.collection, 'reset', this.addAll);
			},
			addOne: function(NewModel) {
				var newView = new NewView({
					model: NewModel
				});
				this.insertView('', newView).render();
			},
			addAll: function() {
				this.collection.each(this.addOne, this);
			},
			afterRender: function() {
				this.collection.fetch();
			}
		});
		//国内外新技术视图
		var TechniqueView = Backbone.View.extend({
			template: '#techniqueView-template',
			tagName: 'li',
			className: 'list-group-item',
			Timer: function(time) {
				return moment(time).format('YYYY-MM-DD');
			}
		});
		//国内外新技术列表视图
		var TechniqueListView = Backbone.View.extend({
			template: '#techniqueListView-template',
			tagName: 'ul',
			className: 'list-group',
			initialize: function() {
				this.listenTo(this.collection, 'reset', this.addAll);
			},
			addOne: function(TechniqueModel) {
				var techniqueView = new TechniqueView({
					model: TechniqueModel
				});
				this.insertView('', techniqueView).render();
			},
			addAll: function() {
				this.collection.each(this.addOne, this);
			},
			afterRender: function() {
				this.collection.fetch();
			}
		});

		//案例分析视图
		var AccidentView = Backbone.View.extend({
			template: '#accidentView-template',
			tagName: 'li',
			className: 'list-group-item',
			Timer: function(time) {
				return moment(time).format('YYYY-MM-DD');
			}
		});
		//案例分析列表视图
		var AccidentListView = Backbone.View.extend({
			template: '#accidentListView-template',
			tagName: 'ul',
			className: 'list-group',
			initialize: function() {
				this.listenTo(this.collection, 'reset', this.addAll);
			},
			addOne: function(AccidentModel) {
				var accidentView = new AccidentView({
					model: AccidentModel
				});
				this.insertView('', accidentView).render();
			},
			addAll: function(){
				this.collection.each(this.addOne, this);
			},
			afterRender: function() {
				this.collection.fetch();
			}
		});



		var MainView = Backbone.View.extend({
			template: '#MainView-template',
			beforeRender: function() {
				this.standListView = new StandListView({
					collection: new StandardCollection()
				});
				this.lawListView = new LawListView({
					collection: new LawCollection()
				});
				this.healthListView = new HealthListView({
					collection: new HealthCollection()
				});
				this.frockListView = new FrockListView({
					collection: new FrockCollection()
				});

				this.accidentListView=new AccidentListView({
					collection:new AccidentCollection()
				});
				this.techniqueListView=new TechniqueListView({
					collection:new TechniqueCollection()
				});

				//this.newCollection = NewCollection();
				this.setViews({
					'#standListView': this.standListView,
					'#lawListView': this.lawListView,
					'#healthListView': this.healthListView,
					'#frockListView': this.frockListView,
					'#accidentListView':this.accidentListView,
					'#techniqueListView':this.techniqueListView
				});
			}
		});
		new MainView({
			el: '#MainView'
		}).render();
	})(Backbone, _);
</script>
</html>