<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>法律法规管理</title>
		<link rel="shortcut icon" href="../images/logo.png" />
		<link type="text/css" href="../css/bootstrap.min.css" rel="stylesheet" />
		<link type="text/css" href="../css/main.css" rel="stylesheet" />
	</head>

	<body>
		<div class="container" id="MainView"></div>
		<script type="text/template" id="MainView-template">
			<div class='row header'>
				<div class='col-md-12'>
					<div class='row title'>
						<div class='col-md-6 col-md-push-3'>
							<h3>中国船舶工业集团安全生产技术研究中心</h3>
							<p>SAFETY PRODUCTION TECHNOLOGY RESEARCH CENTER,CSSC</p>
						</div>
					</div>
					<div class='row'>
						<div class='col-md-11 col-md-push-1'>
							<nav class="navbar navbar-default" role="navigation">
								<div class="container-fluid">
									<div class="navbar-header">
										<a class="navbar-brand" href="./index.html">网站首页</a>
									</div>
									<div>
										<ul class="nav navbar-nav">
											<li class="active">
												<a href="./standard.html">标准管理</a>
											</li>
											<li>
												<a href="./law.html">法律法规管理</a>
											</li>
											<li>
												<a href="./health.html">安全及职业健康知识管理</a>
											</li>
											<li>
												<a href="./frock.html">安全工装管理</a>
											</li>
											<li>
												<a href="./accident.html">案例分析管理</a>
											</li>
											<li>
												<a href="./technique.html">国内外新技术管理</a>
											</li>
											<li>
												<a href="#">联系我们</a>
											</li>
										</ul>
									</div>
								</div>
							</nav>
						</div>
					</div>
				</div>
			</div>
			<div class="row content ">
				<img src="../images/image2.JPG" width="1170" height="270" />
			</div>
			<div class="row content">
				<div class="col-xs-3">
					<div class="Content-search">
						<h4 class="list-group-item active">站内搜索</h4>
						<form class="form-horizontal">
							<select class="form-control" name="condition">
								<option value="name">标题</option>
								<option value="category">所属类别</option>
								<option value="keywords">关键词</option>
							</select>
							<div class="form-group" style="margin-top: 10px;">
								<div class="col-xs-8">
									<input class="form-control" type="text" placeholder="请输入查询条件" />
								</div>
								<div class="col-xs-4">
									<button type="button" class="btn btn-info js-search">搜素</button>
								</div>
							</div>
						</form>
					</div>
					<div class="Menu-item">
						<h4 class="list-group-item active">法律管理</h4>
						<ul class="list-group">
							<li class="list-group-item">
								<a href="javascript:void(0);" title="法律">
									法律
								</a>
							</li>
							<li class="list-group-item">
								<a href="javascript:void(0);" title="法规">
									法规
								</a>
							</li>
							<li class="list-group-item">
								<a href="javascript:void(0);" title="地方性法规">
									地方性法规
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-xs-9">
					<div class="row">
						<div class="col-xs-3">
							<h4>法律管理</h4>
						</div>
						<div class=" pull-right" style="padding-top:10px;">
							网站首页 > 法律管理
						</div>
					</div>
					<div class="row" id="lawListView">

					</div>
				</div>
			</div>
			</div>
		</script>

		<!--法律法规视图-->
		<script type="text/template" id="lawListView-template">

		</script>

		<script type="text/template" id="lawView-template">
			<div class="row">
				<div class="col-xs-7">
					<a href="javascript:void(0);" class="js-detail" >
						<%= name %>
					</a>
				</div>
				<div class="col-xs-2 col-xs-offset-3">
					<span>【<%= this.Timer(publishDate) %>】</span>
				</div>
			</div>

		</script>

	</body>
	<script src="../js/jquery-1.9.1.min.js" type="text/javascript"></script>
	<script src="../js/moment.js" type="text/javascript"></script>
	<script src="../js/jquery.json.js" type="text/javascript"></script>
	<script src="../js/Underscore.js" type="text/javascript"></script>
	<script src="../js/Backbone.js" type="text/javascript"></script>
	<script src="../js/backbone.layoutmanager.js" type="text/javascript"></script>
	<script src="../js/moment.js" type="text/javascript"></script>
	<script type="text/javascript" src="../entities/entities.js"></script>
	<script type="text/javascript" src="../handle/law/law.js"></script>
	<script type="text/javascript">
		(function(Backbone, _) {
			var EventBus = _.extend({}, Backbone.Events);
			var LawCollection = Entities.Law.Collection;
			var Url = Entities.config.apiUrl;
			Backbone.Layout.configure({
				manage: true
			});

			//法律法规视图
			var LawView = Backbone.View.extend({
				template: '#lawView-template',
				tagName: 'li',
				className: 'list-group-item',
				Timer: function(time) {
					return moment(time).format('YYYY-MM-DD');
				},
				events: {
					'click .js-detail': '_onShowDetail'
				},
				_onShowDetail: function() {
					var m_id = this.model.id;
					var location = Url+"/front/detail/lawDetail.html?id="+m_id;
					window.open(location);
				}
			});
			//法律法规视图
			var LawListView = Backbone.View.extend({
				template: '#lawListView-template',
				tagName: 'ul',
				className: 'list-group',
				initialize: function() {
					this.listenTo(this.collection, 'reset', this.addAll);
					this.listenTo(EventBus, 'law:show', this._onLawShow);
					this.listenTo(EventBus, 'category:show', this._onCategoryShow);
					this.onCreate();
				},
				addOne: function(LawModel) {
					var lawView = new LawView({
						model: LawModel
					});
					this.insertView('', lawView).render();
				},
				addAll: function() {
					this.render();
					this.collection.each(this.addOne, this);
				},
				_onLawShow: function(condition) {
					this.collection.fetch(condition);
				},
				_onCategoryShow: function(cate) {
					this.collection.fetch({
						category: cate
					});
				},
				onCreate: function() {
					this.collection.fetch();
				}
			});

			var MainView = Backbone.View.extend({
				template: '#MainView-template',
				events: {
					'click .js-search': '_onShowInfo',
					'click .list-group-item a': '_onShowLaw',
				},
				beforeRender: function() {
					this.lawListView = new LawListView({
						collection: new LawCollection()
					});
					this.setView('#lawListView', this.lawListView);
				},
				_onShowInfo: function() {
					var key = $('select').val();
					var value = $("input").val();
					var data = {};
					if(key && value) {
						data[key] = value;
						EventBus.trigger('law:show', data);
					}
				},
				_onShowLaw: function(ctx) {
					var cate = this.$(ctx.target).attr('title');
					console.log(cate);
					EventBus.trigger('category:show', cate);
				}
			});
			new MainView({
				el: '#MainView'
			}).render();
		})(Backbone, _);
	</script>

</html>